# Настройки Telegram
# Получить токен у @BotFather
TGSERVER__TOKEN=your_telegram_bot_token_here
# Ссылка от localtunnel + /webhook (например: https://my-bot.loca.lt/webhook)
TGSERVER__WEBHOOK_URL=https://your-domain.loca.lt/webhook

# Настройки БД (Postgres в Docker)
DB__NAME=rag_bot_db
DB__USER=rag_user
DB__PASS=strongpassword123
DB__HOST=postgres
DB__PORT=5432

# Настройки LLM
LLM_PROVIDER=ollama
OLLAMA_HOST=http://ollama:11434 # http://host.docker.internal:11434
# Модель должна совпадать с той, что качается в setup.sh
OLLAMA_MODEL=llama3.1
YANDEX_GPT_SECRET=YOUR_YANDEX_SECRET_KEY_HERE

# Настройки RAG
EMBEDDING_MODEL_NAME=intfloat/multilingual-e5-large

# настройки LangSmith
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="<your code>"
LANGCHAIN_PROJECT="FPMI_RAG_Bot"