langchain
langchain-huggingface
langchain-experimental
langchain-community
langchain-chroma
langchain-ollama
yandexcloud
unstructured[local-inference]
markdownify
langchain-text-splitters

# for embedding models from Hugging Face
sentence-transformers

# local Vector DB
chromadb

# HTML parsing
beautifulsoup4

# parsing Excel, CSV
pandas
openpyxl
python-dotenv
PyYAML

certifi

dependency-injector
rank-bm25
lxml