# --- LangChain ---
langchain==0.3.7
langchain-community==0.3.7
langchain-core>=0.3.21
langchain-text-splitters==0.3.2
langchain-chroma==0.1.4
langchain-huggingface==0.1.0
langchain-ollama>=0.2.1

aiogram
pydantic-settings

# --- Database ---
sqlalchemy
alembic
asyncpg
psycopg2-binary

# --- Vector DB & Search ---
chromadb
rank-bm25
sentence-transformers>=3.0.0

# --- Parsing & Data Processing ---
beautifulsoup4
lxml
markdownify
requests
pandas
openpyxl
unstructured
unstructured-inference
unstructured-client

# --- Utilities ---
python-dotenv
PyYAML
dependency-injector
yandexcloud
numpy<2.0.0
scikit-learn>=1.5.0